/* GENERAL STYLE */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* VARIABLES DECLARATION */
:root{
    --mainFont: "montserrat";
    --secondFont: "Mali";
}

input:focus{
    outline: none;
}

html{
    scroll-behavior: smooth;
}

